.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task-card {
  width: 70%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    min-width: 250px;
    border-radius: 8px;
}

.task-details-list{
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.list-item{
  display: flex;
  margin-bottom: 30px;

}

.key{
  flex: 1;
  font-weight: bold
}
.value{
  flex: 1;
}